html, body, .grid-container { height: 100%; margin: 0; }

body{
  height: 100%;
  
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
   background-color: rgb(66, 64, 64);
  align-content: center;
  text-align: center;

  width: 100%; /* Cambia este valor al tamaño que desees */
  height: auto



}

img {
  width: 100%; /* Cambia este valor al tamaño que desees */
  height: auto; /* Esto mantiene la proporción de la imagen */
}

.grid-container {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
  grid-template-rows: 0.1fr 0.5fr 3fr 0.2fr 0.2fr 0.2fr;
  gap: 4px 0px;
  color:#dddbdb;




}

.TITULO {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "LOGO TITULO1 numerosorteo"
    "LOGO TITULO1 Numero"
    ". . .";
  grid-area: 2 / 2 / 3 / 4;

  align-content: center;

  
}


label {
  align-content: center;
}




#Numero_Sorteo { 

font-style: unset;
  color:#d8cfcf;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 3PX;
	background-color: rgb(66, 64, 64);
	backdrop-filter: blur(3px);
  margin: 15px;
	border-radius: 0px 10px 10px 15px;
	

}

#Numero { 
  color:#d8cfcf;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 3PX;
	background-color: rgba(255, 255, 255, 0.116);
	backdrop-filter: blur(3px);
  margin: 15px;
	border-radius: 0px 10px 10px 15px;
	


}

.TITULO1 { grid-area: TITULO1;
  color:#ffffff00;

}



.PREGUNTAS {
  display: grid;
  display: flex;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  gap: 0px 0px;
  grid-template-areas:
    "PREGUNA1"
    "PREGUNTA2"
    "PREGUNTA3"
 ;
  grid-area: 3 / 2 / 4 / 3;

  width: 800px;
  height: 60px;
	box-shadow: 0 0 1rem 0 rgba(192, 183, 183, 0.2);	
	border-radius: 10px;
  align-content: center;
  text-align: center;
margin-top: 3 px;

}

.PREGUNA1 { grid-area: PREGUNA1;
  color:#630cd4;
 		background-color: rgba(185, 178, 178, 0.144);
	backdrop-filter: blur(3px);
  margin: 15px;
	border-radius: 0px 10px 10px 15px;
  margin-top: 1px;
  width: 450px;
  height: 60px;
  font-size: 40px;
  /* Otros estilos si es necesario */
  color: #020202;
  align-content: center;
  text-align: center;
	}

.PREGUNTA2 { grid-area: PREGUNTA2; 
  color:#630cd4;
  background-color: rgba(185, 178, 178, 0.144);
backdrop-filter: blur(3px);
margin: 15px;
border-radius: 0px 10px 10px 15px;
margin-top: 1px;
width: 450px;
height: 60px;
font-size: 40px;
/* Otros estilos si es necesario */
color: #020202;
align-content: center;
text-align: center;}

.PREGUNTA3 { grid-area: PREGUNTA3; }

.PREGUNTA4 { grid-area: PREGUNTA4; }

.PREGUNTA5 { grid-area: PREGUNTA5; }

.PREGUNTA6 { grid-area: PREGUNTA6; }

.PREGUNTA7 { grid-area: PREGUNTA7; }

.RESPUESTAS {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "RESPUETA1"
    "RESPUESTA2"
    "RESPUESTA3"
    "RESPUESTA4"
    "RESPUESTA5"
    "RESPUESTA6"
    "RESPUESTA7";
  grid-area: 3 / 3 / 4 / 4;


  width: 30rem;
	height: 20rem;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 5px;

	
	backdrop-filter: blur(5px);

}

.RESPUETA1 { grid-area: RESPUETA1; }

.RESPUESTA2 { grid-area: RESPUESTA2; }

.RESPUESTA3 { grid-area: RESPUESTA3; }

.RESPUESTA4 { grid-area: RESPUESTA4; }

.RESPUESTA5 { grid-area: RESPUESTA5; }

.RESPUESTA6 { grid-area: RESPUESTA6; }

.RESPUESTA7 { grid-area: RESPUESTA7; }

.PARRAFO1 { grid-area: 4 / 2 / 5 / 4; }

.PARRAFO2 { grid-area: 5 / 2 / 6 / 4; }


/* For presentation only, no need to copy the code below */
.grid-container * {
 
  position: relative;
}

.grid-container *:after {
  display: flex;
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  align-content: center;
  text-align: center;

}
